#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.App-header {
  text-align: center;
}

.empty-state {
  width: 100%;
  font-size: 20px;
}

.container {
  min-height: 500px; /* Adjust based on your design needs */
  display: flex;
  flex-wrap: wrap;
  justify-content: start; /* Keeps items aligned at the start */
  align-items: stretch; /* Ensures that flex children cover the full height */ 
}
